      <table border="0" cellpadding="0" cellspacing="0" width="100%">

        <tr>
         <td colspan="2">

         <div id="emergency_call" class="visable">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">

            <tr>
             <td width="120" height="25" class="title1">Emergency Call 1</td>
             <td width="160" class="text">
              <input type="text" name="emergency_call1" id="emergency_call1" value="<?php print($values['STAR_CMD_EMERGENT_NUM_1']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Emergency Call 2</td>
             <td width="160" class="text">
              <input type="text" name="emergency_call2" id="emergency_call2" value="<?php print($values['STAR_CMD_EMERGENT_NUM_2']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Emergency Call 3</td>
             <td width="160" class="text">
              <input type="text" name="emergency_call3" id="emergency_call3" value="<?php print($values['STAR_CMD_EMERGENT_NUM_3']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Emergency Call 4</td>
             <td width="160" class="text">
              <input type="text" name="emergency_call4" id="emergency_call4" value="<?php print($values['STAR_CMD_EMERGENT_NUM_4']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Emergency Call 5</td>
             <td width="160" class="text">
              <input type="text" name="emergency_call5" id="emergency_call5" value="<?php print($values['STAR_CMD_EMERGENT_NUM_5']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Emergency Call 6</td>
             <td width="160" class="text">
              <input type="text" name="emergency_call6" id="emergency_call6" value="<?php print($values['STAR_CMD_EMERGENT_NUM_6']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Emergency Call 7</td>
             <td width="160" class="text">
              <input type="text" name="emergency_call7" id="emergency_call7" value="<?php print($values['STAR_CMD_EMERGENT_NUM_7']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Emergency Call 8</td>
             <td width="160" class="text">
              <input type="text" name="emergency_call8" id="emergency_call8" value="<?php print($values['STAR_CMD_EMERGENT_NUM_8']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Emergency Call 9</td>
             <td width="160" class="text">
              <input type="text" name="emergency_call9" id="emergency_call9" value="<?php print($values['STAR_CMD_EMERGENT_NUM_9']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Emergency Call 10</td>
             <td width="160" class="text">
              <input type="text" name="emergency_call10" id="emergency_call10" value="<?php print($values['STAR_CMD_EMERGENT_NUM_10']) ?>" class="edit">
             </td>
            </tr>

          </table>
         </div>
         </td>
        </tr>

      </table>