<!--
<?php
print <<<EOT
-->
<html>
<meta name="Author" content="Gaby_chen">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>后台管理</title>
</head>
<frameset Id="frame" framespacing="0" border="false" cols="190,*" frameborder="1" scrolling="yes">
	<frame name="left" scrolling="auto" marginwIdth="0" marginheight="0" src="{$URL}?job=left">
	<frameset framespacing="0" border="false" rows="35,*" frameborder="0" scrolling="yes">
		<frame name="top" scrolling="no" src="{$URL}?job=top">
		<frame name="main" scrolling="auto" src="{$URL}?job=main">
	</frameset>
</frameset>
<noframes>
  <body leftmargin="2" topmargin="0" marginwIdth="0" marginheight="0">
  <p></p>
  </body>
</noframes>
</html>
<!--
EOT;
?>
-->
