<!--
<?php
header("Content-Type: text/html; charset=utf-8");
print <<<EOT
-->
<html>
<meta name="Author" content="Gaby_chen">
<head>
<title>后台管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="Style.css">
</head>
<body leftmargin="2" topmargin="0" marginwIdth="0" marginheight="0">
<br>
<table cellpadding="2" cellspacing="1" border="0" wIdth="100%" class="border" align=center>
  <tr align="center">
    <td height=25 colspan=2 class="topbg"><strong>服务器信息</strong>
  <tr>
    <td wIdth="50%"  class="tdbg" height=23>PHP 版本:$sysversion</td>
    <td wIdth="50%" class="tdbg">最大上传限制:$max_upload</td>
  </tr>
  <tr>
    <td wIdth="50%" class="tdbg" height=23>服务器端信息:$sysos</td>
    <td wIdth="50%" class="tdbg">Cookie 测试:$ifcookie</td>
  </tr>
  <tr>
    <td class="tdbg" height=23>&nbsp;</td>
    <td align="right" class="tdbg">&nbsp;</td>
  </tr>
</table>
</body>
</html>

<!--
EOT;
?>
-->
