      <table border="0" cellpadding="0" cellspacing="0" width="100%">

        <tr>
         <td colspan="2" class="title1" height="25" >自动应答</td>
        </tr>

        <tr>
         <td colspan="2">

         <div id="l2_auto_answer" class="visable">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">

            <tr>
             <td width="120" height="25" class="title1">号码 1</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num1" id="l2_auto_answer_num1" value="<?php print($values['L2_AUTO_ANSWER_NUM_1']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 2</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num2" id="l2_auto_answer_num2" value="<?php print($values['L2_AUTO_ANSWER_NUM_2']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 3</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num3" id="l2_auto_answer_num3" value="<?php print($values['L2_AUTO_ANSWER_NUM_3']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 4</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num4" id="l2_auto_answer_num4" value="<?php print($values['L2_AUTO_ANSWER_NUM_4']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 5</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num5" id="l2_auto_answer_num5" value="<?php print($values['L2_AUTO_ANSWER_NUM_5']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 6</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num6" id="l2_auto_answer_num6" value="<?php print($values['L2_AUTO_ANSWER_NUM_6']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 7</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num7" id="l2_auto_answer_num7" value="<?php print($values['L2_AUTO_ANSWER_NUM_7']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 8</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num8" id="l2_auto_answer_num8" value="<?php print($values['L2_AUTO_ANSWER_NUM_8']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 9</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num9" id="l2_auto_answer_num9" value="<?php print($values['L2_AUTO_ANSWER_NUM_9']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 10</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num10" id="l2_auto_answer_num10" value="<?php print($values['L2_AUTO_ANSWER_NUM_10']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 11</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num11" id="l2_auto_answer_num11" value="<?php print($values['L2_AUTO_ANSWER_NUM_11']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 12</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num12" id="l2_auto_answer_num12" value="<?php print($values['L2_AUTO_ANSWER_NUM_12']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 13</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num13" id="l2_auto_answer_num13" value="<?php print($values['L2_AUTO_ANSWER_NUM_13']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 14</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num14" id="l2_auto_answer_num14" value="<?php print($values['L2_AUTO_ANSWER_NUM_14']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 15</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num15" id="l2_auto_answer_num15" value="<?php print($values['L2_AUTO_ANSWER_NUM_15']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 16</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num16" id="l2_auto_answer_num16" value="<?php print($values['L2_AUTO_ANSWER_NUM_16']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 17</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num17" id="l2_auto_answer_num17" value="<?php print($values['L2_AUTO_ANSWER_NUM_17']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 18</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num18" id="l2_auto_answer_num18" value="<?php print($values['L2_AUTO_ANSWER_NUM_18']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 19</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num19" id="l2_auto_answer_num19" value="<?php print($values['L2_AUTO_ANSWER_NUM_19']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">号码 20</td>
             <td width="160" class="text">
              <input type="text" name="l2_auto_answer_num20" id="l2_auto_answer_num20" value="<?php print($values['L2_AUTO_ANSWER_NUM_20']) ?>" class="edit">
             </td>
            </tr>

          </table>
         </div>
         </td>
        </tr>

      </table>
