      <table border="0" cellpadding="0" cellspacing="0" width="100%">

        <tr>
         <td colspan="2">

         <div id="sip_timers" class="visable">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">

            <tr>
             <td width="120" height="25" class="title1">KeepAlive Interval(s)</td>
             <td width="160" class="text">
              <input type="text" name="sip_keepalive_interval" id="sip_keepalive_interval" value="<?php print($values['SIP_KEEPALIVE_INTERVAL']) ?>" class="edit" onblur="onblur_check_integer(this, 1, 600)" onfocus="onfocus_check_integer(this, 1, 600)">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Register Fail-retry Interval(s)</td>
             <td width="160" class="text">
              <input type="text" name="sip_fail_retry_interval" id="sip_fail_retry_interval" value="<?php print($values['SIP_FAIL_RETRY_INTERVAL']) ?>" class="edit" onblur="onblur_check_integer(this, 1, 180)" onfocus="onfocus_check_integer(this, 1, 180)">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">No Answer Forward Expiry</td>
             <td width="160" class="text">
              <input type="text" name="unanswer_fw_exp" id="unanswer_fw_exp" value="<?php print($values['UNANSWER_FW_EXP']) ?>" class="edit" onblur="onblur_check_integer(this, 10, 600)" onfocus="onfocus_check_integer(this, 10, 600)">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">No Answer Expiry</td>
             <td width="160" class="text">
              <input type="text" name="unanswer_exp" id="unanswer_exp" value="<?php print($values['UNANSWER_EXP']) ?>" class="edit" onblur="onblur_check_integer(this, 32, 600)" onfocus="onfocus_check_integer(this, 32, 600)">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">NICT Expiry</td>
             <td width="160" class="text">
              <input type="text" name="non_invite_exp" id="non_invite_exp" value="<?php print($values['NON_INVITE_TS_EXP']) ?>" class="edit" onblur="onblur_check_integer(this, 2, 180)" onfocus="onfocus_check_integer(this, 2, 180)">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">ICT Expiry</td>
             <td width="160" class="text">
              <input type="text" name="invite_exp" id="invite_exp" value="<?php print($values['INVITE_TS_EXP']) ?>" class="edit" onblur="onblur_check_integer(this, 5, 360)" onfocus="onfocus_check_integer(this, 5, 360)">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Retransmit T1</td>
             <td width="160" class="text">
              <input type="text" name="retrans_t1" id="retrans_t1" value="<?php print($values['RETRANSMIT_T1']) ?>" class="edit" onblur="onblur_check_integer(this, 200, 2000)" onfocus="onfocus_check_integer(this, 200, 2000)">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Retransmit T2</td>
             <td width="160" class="text">
              <input type="text" name="retrans_t2" id="retrans_t2" value="<?php print($values['RETRANSMIT_T2']) ?>" class="edit" onblur="onblur_check_integer(this, 2000, 8000)" onfocus="onfocus_check_integer(this, 2000, 8000)">
             </td>
            </tr>

          </table>
         </div>
         </td>
        </tr>

      </table>