<style type="text/css">
.audiocodec {
        font-size: 11px;
        font-family: tahoma,sans-serif;
cursor: pointer; 
cursor: hand 
}
</style>
<script lang="JavaScript">
var current_codec_index;
function select_codec(idx)
{
        if (document.getElementById){
                var obj

                        if(current_codec_index){
                                obj=document.getElementById("codec"+current_codec_index+"_div");
                                obj.style.background="#FFFFFF";
                                obj.style.color="#000000"
                        }
                obj=document.getElementById("codec"+idx+"_div");
                obj.style.background="#000088";
                obj.style.color="#FFFFFF";
                current_codec_index=idx
        }
}

function get_codec_name_obj(curobj)
{
        var spantags=curobj.getElementsByTagName("SPAN")
                var codecnameobj;
        for (i=0; i<spantags.length; i++){
                if (spantags[i].className=="codec_name"){
                        codecnameobj=spantags[i];
                        break
                }
        }

        return codecnameobj
}
function swap_codec(idx1, idx2)
{
        var obj1
        var obj2
        var tmp


        obj1=document.getElementById("codec"+idx1+"_enabled");
        obj2=document.getElementById("codec"+idx2+"_enabled");
        tmp=obj1.checked;
        obj1.checked=obj2.checked;
        obj2.checked=tmp;

        obj1=document.getElementById("prefer_codec"+idx1);
        obj2=document.getElementById("prefer_codec"+idx2);
        tmp=obj1.value;
        obj1.value=obj2.value;
        obj2.value=tmp;

        obj1=document.getElementById("codec"+idx1+"_div");
        obj1=get_codec_name_obj(obj1);
        obj2=document.getElementById("codec"+idx2+"_div");
        obj2=get_codec_name_obj(obj2);
        tmp=obj1.innerHTML;
        obj1.innerHTML=obj2.innerHTML;
        obj2.innerHTML=tmp;
}

function codec_up()
{
        if(current_codec_index > 1){
                var idx=current_codec_index - 1

                        swap_codec(current_codec_index, idx);
                select_codec(idx);
        }
}

function codec_down()
{
        if(current_codec_index >= 1 && current_codec_index<7){
                var idx=current_codec_index + 1

                        swap_codec(current_codec_index, idx);
                select_codec(idx);
        }
}
</script>
<table width="100%" cellpadding="0" cellspacing="0" border="0" Align="center">
        <tr>
                <td width="20">&nbsp;</td>
                <td valign="top"  width="60" Align="center">
                        <div style="padding:5px">
                                <input type="button" class="button" style="width:50px" onclick="p0_codec_up()" value="Up"> 
                        </div>
                        <div style="padding:5px">
                                <input type="button" class="button" style="width:50px" onclick="p0_codec_down()" value="Down">
                        </div>
                </td>
                <td>
                        <table width="100" cellpadding="0" cellspacing="5" class="button" Align="center">
                                <tr><td Align="left">
                                                <div id="codec1_div" onclick="select_codec(1)" class="audiocodec"><input type="checkbox" id="codec1_enabled" name="codec1_enabled" <?php print($values['CODEC1_DISABLE']=='0'?'checked':'') ?>><span class="codec_name"><?php echo $values['PREFER_CODEC1'] ?></span><input type="hidden" id="prefer_codec1" name="prefer_codec1" value="<?php echo $values['PREFER_CODEC1'] ?>"></div>
                                                <div id="codec2_div" onclick="select_codec(2)" class="audiocodec"><input type="checkbox" id="codec2_enabled" name="codec2_enabled" <?php print($values['CODEC2_DISABLE']=='0'?'checked':'') ?>><span class="codec_name"><?php echo $values['PREFER_CODEC2'] ?></span><input type="hidden" id="prefer_codec2" name="prefer_codec2" value="<?php echo $values['PREFER_CODEC2'] ?>"></div>
                                                <div id="codec3_div" onclick="select_codec(3)" class="audiocodec"><input type="checkbox" id="codec3_enabled" name="codec3_enabled" <?php print($values['CODEC3_DISABLE']=='0'?'checked':'') ?>><span class="codec_name"><?php echo $values['PREFER_CODEC3'] ?></span><input type="hidden" id="prefer_codec3" name="prefer_codec3" value="<?php echo $values['PREFER_CODEC3'] ?>"></div>
                                                <div id="codec4_div" onclick="select_codec(4)" class="audiocodec"><input type="checkbox" id="codec4_enabled" name="codec4_enabled" <?php print($values['CODEC4_DISABLE']=='0'?'checked':'') ?>><span class="codec_name"><?php echo $values['PREFER_CODEC4'] ?></span><input type="hidden" id="prefer_codec4" name="prefer_codec4" value="<?php echo $values['PREFER_CODEC4'] ?>"></div>
                                                <div id="codec5_div" onclick="select_codec(5)" class="audiocodec"><input type="checkbox" id="codec5_enabled" name="codec5_enabled" <?php print($values['CODEC5_DISABLE']=='0'?'checked':'') ?>><span class="codec_name"><?php echo $values['PREFER_CODEC5'] ?></span><input type="hidden" id="prefer_codec5" name="prefer_codec5" value="<?php echo $values['PREFER_CODEC5'] ?>"></div>
                                                <div id="codec6_div" onclick="select_codec(6)" class="audiocodec"><input type="checkbox" id="codec6_enabled" name="codec6_enabled" <?php print($values['CODEC6_DISABLE']=='0'?'checked':'') ?>><span class="codec_name"><?php echo $values['PREFER_CODEC6'] ?></span><input type="hidden" id="prefer_codec6" name="prefer_codec6" value="<?php echo $values['PREFER_CODEC6'] ?>"></div>
<?php if($values['PREFER_CODEC7'] !=''): ?>
                                                <div id="codec7_div" onclick="select_codec(7)" class="audiocodec"><input type="checkbox" id="codec7_enabled" name="codec7_enabled" <?php print($values['CODEC7_DISABLE']=='0'?'checked':'') ?>><span class="codec_name"><?php echo $values['PREFER_CODEC7'] ?></span><input type="hidden" id="prefer_codec7" name="prefer_codec7" value="<?php echo $values['PREFER_CODEC7'] ?>"></div>
<?php endif; ?>
                                </td></tr>
                        </table>
                </td>
                <td width="20">&nbsp;</td>
        </tr>
</table>
