<!--
<?php
header("Content-Type: text/html; charset=ISO-8859-1");
print <<<EOT
-->
<html>
<meta name="Author" content="Gaby_chen">
<head>
<title>Background Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="Style.css">
</head>
<body leftmargin="2" topmargin="0" marginwIdth="0" marginheight="0">
<br>
<table cellpadding="2" cellspacing="1" border="0" wIdth="100%" class="border" align=center>
  <tr align="center">
    <td height=25 colspan=2 class="topbg"><strong>Server message</strong>
  <tr>
    <td wIdth="50%"  class="tdbg" height=23>PHP version:$sysversion</td>
    <td wIdth="50%" class="tdbg">Maximum upload limit:$max_upload</td>
  </tr>
  <tr>
    <td wIdth="50%" class="tdbg" height=23>Server message:$sysos</td>
    <td wIdth="50%" class="tdbg">Cookie test:$ifcookie</td>
  </tr>
  <tr>
    <td class="tdbg" height=23>&nbsp;</td>
    <td align="right" class="tdbg">&nbsp;</td>
  </tr>
</table>
</body>
</html>

<!--
EOT;
?>
-->
