      <table border="0" cellpadding="0" cellspacing="0" width="100%">

        <tr>
         <td colspan="2" class="title1" height="25" >PSTN信任号码列表</td>
        </tr>

        <tr>
         <td colspan="2">

         <div id="l2_pstn_trust_list" class="visable">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">

            <tr>
             <td width="120" height="25" class="title1">信任号码1</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num1" id="l2_pstn_trust_num1" value="<?php print($values['L2_PSTN_TRUST_NUM_1']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码2</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num2" id="l2_pstn_trust_num2" value="<?php print($values['L2_PSTN_TRUST_NUM_2']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码3</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num3" id="l2_pstn_trust_num3" value="<?php print($values['L2_PSTN_TRUST_NUM_3']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码4</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num4" id="l2_pstn_trust_num4" value="<?php print($values['L2_PSTN_TRUST_NUM_4']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码5</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num5" id="l2_pstn_trust_num5" value="<?php print($values['L2_PSTN_TRUST_NUM_5']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码6</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num6" id="l2_pstn_trust_num6" value="<?php print($values['L2_PSTN_TRUST_NUM_6']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码7</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num7" id="l2_pstn_trust_num7" value="<?php print($values['L2_PSTN_TRUST_NUM_7']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码8</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num8" id="l2_pstn_trust_num8" value="<?php print($values['L2_PSTN_TRUST_NUM_8']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码9</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num9" id="l2_pstn_trust_num9" value="<?php print($values['L2_PSTN_TRUST_NUM_9']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码10</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num10" id="l2_pstn_trust_num10" value="<?php print($values['L2_PSTN_TRUST_NUM_10']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码11</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num11" id="l2_pstn_trust_num11" value="<?php print($values['L2_PSTN_TRUST_NUM_11']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码12</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num12" id="l2_pstn_trust_num12" value="<?php print($values['L2_PSTN_TRUST_NUM_12']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码13</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num13" id="l2_pstn_trust_num13" value="<?php print($values['L2_PSTN_TRUST_NUM_13']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码14</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num14" id="l2_pstn_trust_num14" value="<?php print($values['L2_PSTN_TRUST_NUM_14']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">信任号码15</td>
             <td width="160" class="text">
              <input type="text" name="l2_pstn_trust_num15" id="l2_pstn_trust_num15" value="<?php print($values['L2_PSTN_TRUST_NUM_15']) ?>" class="edit">
             </td>
            </tr>

          </table>
         </div>
         </td>
        </tr>

      </table>

