td {
	text-align: left;
	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	color:#787878;
}
form
{
	margin:0px;
}
a {

	text-decoration: underline;
	color:#0076A3;
}
.gr
{
	color:#8DC63F;
	font-weight:bold;
}
.light
{
	color:#8C8C8C;
}
.dark
{
	color:#646464;
}
a.g
{
	color:#787878;
	text-decoration:underline;
}
.copy
{
	color:#9B9B9B;
	font-size:10px;
}
a.copy
{
	color:#9B9B9B;
	text-decoration:none;
}
.t10
{
	font-size:10px;
}
