      <table border="0" cellpadding="0" cellspacing="0" width="100%">

        <tr>
         <td colspan="2" class="title1" height="25" >PSTN Trust List</td>
        </tr>

        <tr>
         <td colspan="2">

         <div id="l5_pstn_trust_list" class="visable">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">

            <tr>
             <td width="120" height="25" class="title1">Trust Number1</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num1" id="l5_pstn_trust_num1" value="<?php print($values['L5_PSTN_TRUST_NUM_1']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number2</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num2" id="l5_pstn_trust_num2" value="<?php print($values['L5_PSTN_TRUST_NUM_2']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number3</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num3" id="l5_pstn_trust_num3" value="<?php print($values['L5_PSTN_TRUST_NUM_3']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number4</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num4" id="l5_pstn_trust_num4" value="<?php print($values['L5_PSTN_TRUST_NUM_4']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number5</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num5" id="l5_pstn_trust_num5" value="<?php print($values['L5_PSTN_TRUST_NUM_5']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number6</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num6" id="l5_pstn_trust_num6" value="<?php print($values['L5_PSTN_TRUST_NUM_6']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number7</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num7" id="l5_pstn_trust_num7" value="<?php print($values['L5_PSTN_TRUST_NUM_7']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number8</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num8" id="l5_pstn_trust_num8" value="<?php print($values['L5_PSTN_TRUST_NUM_8']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number9</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num9" id="l5_pstn_trust_num9" value="<?php print($values['L5_PSTN_TRUST_NUM_9']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number10</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num10" id="l5_pstn_trust_num10" value="<?php print($values['L5_PSTN_TRUST_NUM_10']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number11</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num11" id="l5_pstn_trust_num11" value="<?php print($values['L5_PSTN_TRUST_NUM_11']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number12</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num12" id="l5_pstn_trust_num12" value="<?php print($values['L5_PSTN_TRUST_NUM_12']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number13</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num13" id="l5_pstn_trust_num13" value="<?php print($values['L5_PSTN_TRUST_NUM_13']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number14</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num14" id="l5_pstn_trust_num14" value="<?php print($values['L5_PSTN_TRUST_NUM_14']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">Trust Number15</td>
             <td width="160" class="text">
              <input type="text" name="l5_pstn_trust_num15" id="l5_pstn_trust_num15" value="<?php print($values['L5_PSTN_TRUST_NUM_15']) ?>" class="edit">
             </td>
            </tr>

          </table>
         </div>
         </td>
        </tr>

      </table>

