      <table border="0" cellpadding="0" cellspacing="0" width="100%">

        <tr>
         <td colspan="2" class="title2" height="25" >呼叫转接</td>
        </tr>



            <tr>
             <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">

            <tr>
             <td colspan="2" class="title1" height="25" >&nbsp;</td>
            </tr>

            <tr>
             <td colspan="2">

             <div id="line_fw_conf" class="visable">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                 <td class="text" width="280">
                  <input type=radio name="line_fw_conf_tab" value="line1_fw_conf" onclick="toggle2('line_fw_conf_tab', 8, 0)" checked>线路1&nbsp;
<?php if($values['TELPORT'] >= 2): ?>
                  <input type=radio name="line_fw_conf_tab" value="line2_fw_conf" onclick="toggle2('line_fw_conf_tab', 8, 1)">线路2&nbsp;
<?php endif; ?>
<?php if($values['TELPORT'] >= 3): ?>
                  <input type=radio name="line_fw_conf_tab" value="line3_fw_conf" onclick="toggle2('line_fw_conf_tab', 8, 2)">线路3&nbsp;
<?php endif; ?>
<?php if($values['TELPORT'] >= 4): ?>
                  <input type=radio name="line_fw_conf_tab" value="line4_fw_conf" onclick="toggle2('line_fw_conf_tab', 8, 3)">线路4&nbsp;
<?php endif; ?>
<?php if($values['TELPORT'] >= 5): ?>
                  <input type=radio name="line_fw_conf_tab" value="line5_fw_conf" onclick="toggle2('line_fw_conf_tab', 8, 4)">线路5&nbsp;
<?php endif; ?>
<?php if($values['TELPORT'] >= 6): ?>
                  <input type=radio name="line_fw_conf_tab" value="line6_fw_conf" onclick="toggle2('line_fw_conf_tab', 8, 5)">线路6&nbsp;
<?php endif; ?>
<?php if($values['TELPORT'] >= 7): ?>
                  <input type=radio name="line_fw_conf_tab" value="line7_fw_conf" onclick="toggle2('line_fw_conf_tab', 8, 6)">线路7&nbsp;
<?php endif; ?>
<?php if($values['TELPORT'] >= 8): ?>
                  <input type=radio name="line_fw_conf_tab" value="line8_fw_conf" onclick="toggle2('line_fw_conf_tab', 8, 7)">线路8&nbsp;
<?php endif; ?>

                 </td>
                </tr>
                <tr>
                 <td>
                  <div id="line_fw_conf_tab_0_div" class="visable">

                 <div id="line1_fw_conf" class="visable">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫PSTN</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line1_fw_to_pstn" value="on" id="line1_fw_to_pstn_enable" onclick="toggle('line1_fw_to_pstn_div', 1)" <?php print($values['O_L1_DISABLE_OUT']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line1_fw_to_pstn" value="off" id="line1_fw_to_pstn_disable" disabledbyelement="" onclick="toggle('line1_fw_to_pstn_div', 0)" <?php print($values['O_L1_DISABLE_OUT']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line1_fw_to_pstn_div" class="<?php print($values['O_L1_DISABLE_OUT']!='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN转移号码(VoIP来电,立即转移到PSTN)</td>
                         <td width="160" class="text">
                          <input type="text" name="line1_fw_num_to_pstn" id="line1_fw_num_to_pstn" value="<?php print($values['L1_FW_NUM_TO_PSTN']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line1_fw_to_pstn_passwd" id="line1_fw_to_pstn_passwd" value="<?php print($values['L1_FW_TO_PSTN_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line1_p_dial_plan" id="line1_p_dial_plan" value="<?php print($values['L1_P_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

                      </table>
                    </div>
                     </td>
                    </tr>

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫VoIP</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line1_fw_to_voip" value="on" id="line1_fw_to_voip_enable" onclick="toggle('line1_fw_to_voip_div', 1)" <?php print($values['O_L1_DISABLE_IN']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line1_fw_to_voip" value="off" id="line1_fw_to_voip_disable" disabledbyelement="" onclick="toggle('line1_fw_to_voip_div', 0)" <?php print($values['O_L1_DISABLE_IN']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line1_fw_to_voip_div" class="<?php print($values['O_L1_DISABLE_IN']!='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP转移号码(PSTN来电,立即转移到VoIP)</td>
                         <td width="160" class="text">
                          <input type="text" name="line1_fw_num_to_voip" id="line1_fw_num_to_voip" value="<?php print($values['L1_FW_NUM_TO_VOIP']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line1_fw_to_voip_passwd" id="line1_fw_to_voip_passwd" value="<?php print($values['L1_FW_TO_VOIP_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line1_v_dial_plan" id="line1_v_dial_plan" value="<?php print($values['L1_V_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

<?php if($values['TELPORT'] < 4): ?>
                        <tr>
                         <td width="180" height="25" class="title1">VoIP自动应答时间(秒)</td>
                         <td width="160" class="text">
                          <input type="text" name="line1_voip_answer_time" id="line1_voip_answer_time" value="<?php print($values['O_L1_VOIP_ANSWER_T']) ?>" class="edit" onblur="onblur_check_integer(this, 0, 60)" onfocus="onfocus_check_integer(this, 0, 60)">
                         </td>
                        </tr>

<?php endif; ?>
                      </table>
                    </div>
                     </td>
                    </tr>

                  </table>
                 </div>
                  </div>
                  <div id="line_fw_conf_tab_1_div" class="invisible">

                 <div id="line2_fw_conf" class="visable">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫PSTN</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line2_fw_to_pstn" value="on" id="line2_fw_to_pstn_enable" onclick="toggle('line2_fw_to_pstn_div', 1)" <?php print($values['O_L2_DISABLE_OUT']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line2_fw_to_pstn" value="off" id="line2_fw_to_pstn_disable" disabledbyelement="" onclick="toggle('line2_fw_to_pstn_div', 0)" <?php print($values['O_L2_DISABLE_OUT']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line2_fw_to_pstn_div" class="<?php print($values['O_L2_DISABLE_OUT']!='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN转移号码(VoIP来电,立即转移到PSTN)</td>
                         <td width="160" class="text">
                          <input type="text" name="line2_fw_num_to_pstn" id="line2_fw_num_to_pstn" value="<?php print($values['L2_FW_NUM_TO_PSTN']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line2_fw_to_pstn_passwd" id="line2_fw_to_pstn_passwd" value="<?php print($values['L2_FW_TO_PSTN_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line2_p_dial_plan" id="line2_p_dial_plan" value="<?php print($values['L2_P_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

                      </table>
                    </div>
                     </td>
                    </tr>

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫VoIP</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line2_fw_to_voip" value="on" id="line2_fw_to_voip_enable" onclick="toggle('line2_fw_to_voip_div', 1)" <?php print($values['O_L2_DISABLE_IN']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line2_fw_to_voip" value="off" id="line2_fw_to_voip_disable" disabledbyelement="" onclick="toggle('line2_fw_to_voip_div', 0)" <?php print($values['O_L2_DISABLE_IN']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line2_fw_to_voip_div" class="<?php print($values['O_L2_DISABLE_IN']!='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP转移号码(PSTN来电,立即转移到VoIP)</td>
                         <td width="160" class="text">
                          <input type="text" name="line2_fw_num_to_voip" id="line2_fw_num_to_voip" value="<?php print($values['L2_FW_NUM_TO_VOIP']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line2_fw_to_voip_passwd" id="line2_fw_to_voip_passwd" value="<?php print($values['L2_FW_TO_VOIP_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line2_v_dial_plan" id="line2_v_dial_plan" value="<?php print($values['L2_V_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

<?php if($values['TELPORT'] < 4): ?>
                        <tr>
                         <td width="180" height="25" class="title1">VoIP自动应答时间(秒)</td>
                         <td width="160" class="text">
                          <input type="text" name="line2_voip_answer_time" id="line2_voip_answer_time" value="<?php print($values['O_L2_VOIP_ANSWER_T']) ?>" class="edit" onblur="onblur_check_integer(this, 0, 60)" onfocus="onfocus_check_integer(this, 0, 60)">
                         </td>
                        </tr>

<?php endif; ?>
                      </table>
                    </div>
                     </td>
                    </tr>

                  </table>
                 </div>
                  </div>
                  <div id="line_fw_conf_tab_2_div" class="invisible">

                 <div id="line3_fw_conf" class="visable">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫PSTN</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line3_fw_to_pstn" value="on" id="line3_fw_to_pstn_enable" onclick="toggle('line3_fw_to_pstn_div', 1)" <?php print($values['O_L3_DISABLE_OUT']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line3_fw_to_pstn" value="off" id="line3_fw_to_pstn_disable" disabledbyelement="" onclick="toggle('line3_fw_to_pstn_div', 0)" <?php print($values['O_L3_DISABLE_OUT']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line3_fw_to_pstn_div" class="<?php print($values['O_L3_DISABLE_OUT']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN转移号码(VoIP来电,立即转移到PSTN)</td>
                         <td width="160" class="text">
                          <input type="text" name="line3_fw_num_to_pstn" id="line3_fw_num_to_pstn" value="<?php print($values['L3_FW_NUM_TO_PSTN']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line3_fw_to_pstn_passwd" id="line3_fw_to_pstn_passwd" value="<?php print($values['L3_FW_TO_PSTN_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line3_p_dial_plan" id="line3_p_dial_plan" value="<?php print($values['L3_P_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

                      </table>
                    </div>
                     </td>
                    </tr>

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫VoIP</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line3_fw_to_voip" value="on" id="line3_fw_to_voip_enable" onclick="toggle('line3_fw_to_voip_div', 1)" <?php print($values['O_L3_DISABLE_IN']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line3_fw_to_voip" value="off" id="line3_fw_to_voip_disable" disabledbyelement="" onclick="toggle('line3_fw_to_voip_div', 0)" <?php print($values['O_L3_DISABLE_IN']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line3_fw_to_voip_div" class="<?php print($values['O_L3_DISABLE_IN']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP转移号码(PSTN来电,立即转移到VoIP)</td>
                         <td width="160" class="text">
                          <input type="text" name="line3_fw_num_to_voip" id="line3_fw_num_to_voip" value="<?php print($values['L3_FW_NUM_TO_VOIP']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line3_fw_to_voip_passwd" id="line3_fw_to_voip_passwd" value="<?php print($values['L3_FW_TO_VOIP_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line3_v_dial_plan" id="line3_v_dial_plan" value="<?php print($values['L3_V_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

<?php if($values['TELPORT'] < 4): ?>
                        <tr>
                         <td width="180" height="25" class="title1">VoIP自动应答时间(秒)</td>
                         <td width="160" class="text">
                          <input type="text" name="line3_voip_answer_time" id="line3_voip_answer_time" value="<?php print($values['O_L3_VOIP_ANSWER_T']) ?>" class="edit" onblur="onblur_check_integer(this, 0, 60)" onfocus="onfocus_check_integer(this, 0, 60)">
                         </td>
                        </tr>

<?php endif; ?>
                      </table>
                    </div>
                     </td>
                    </tr>

                  </table>
                 </div>
                  </div>
                  <div id="line_fw_conf_tab_3_div" class="invisible">

                 <div id="line4_fw_conf" class="visable">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫PSTN</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line4_fw_to_pstn" value="on" id="line4_fw_to_pstn_enable" onclick="toggle('line4_fw_to_pstn_div', 1)" <?php print($values['O_L4_DISABLE_OUT']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line4_fw_to_pstn" value="off" id="line4_fw_to_pstn_disable" disabledbyelement="" onclick="toggle('line4_fw_to_pstn_div', 0)" <?php print($values['O_L4_DISABLE_OUT']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line4_fw_to_pstn_div" class="<?php print($values['O_L4_DISABLE_OUT']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN转移号码(VoIP来电,立即转移到PSTN)</td>
                         <td width="160" class="text">
                          <input type="text" name="line4_fw_num_to_pstn" id="line4_fw_num_to_pstn" value="<?php print($values['L4_FW_NUM_TO_PSTN']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line4_fw_to_pstn_passwd" id="line4_fw_to_pstn_passwd" value="<?php print($values['L4_FW_TO_PSTN_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line4_p_dial_plan" id="line4_p_dial_plan" value="<?php print($values['L4_P_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

                      </table>
                    </div>
                     </td>
                    </tr>

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫VoIP</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line4_fw_to_voip" value="on" id="line4_fw_to_voip_enable" onclick="toggle('line4_fw_to_voip_div', 1)" <?php print($values['O_L4_DISABLE_IN']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line4_fw_to_voip" value="off" id="line4_fw_to_voip_disable" disabledbyelement="" onclick="toggle('line4_fw_to_voip_div', 0)" <?php print($values['O_L4_DISABLE_IN']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line4_fw_to_voip_div" class="<?php print($values['O_L4_DISABLE_IN']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP转移号码(PSTN来电,立即转移到VoIP)</td>
                         <td width="160" class="text">
                          <input type="text" name="line4_fw_num_to_voip" id="line4_fw_num_to_voip" value="<?php print($values['L4_FW_NUM_TO_VOIP']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line4_fw_to_voip_passwd" id="line4_fw_to_voip_passwd" value="<?php print($values['L4_FW_TO_VOIP_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line4_v_dial_plan" id="line4_v_dial_plan" value="<?php print($values['L4_V_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

<?php if($values['TELPORT'] < 4): ?>
                        <tr>
                         <td width="180" height="25" class="title1">VoIP自动应答时间(秒)</td>
                         <td width="160" class="text">
                          <input type="text" name="line4_voip_answer_time" id="line4_voip_answer_time" value="<?php print($values['O_L4_VOIP_ANSWER_T']) ?>" class="edit" onblur="onblur_check_integer(this, 0, 60)" onfocus="onfocus_check_integer(this, 0, 60)">
                         </td>
                        </tr>

<?php endif; ?>
                      </table>
                    </div>
                     </td>
                    </tr>

                  </table>
                 </div>
                  </div>
                  <div id="line_fw_conf_tab_4_div" class="invisible">

                 <div id="line5_fw_conf" class="visable">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫PSTN</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line5_fw_to_pstn" value="on" id="line5_fw_to_pstn_enable" onclick="toggle('line5_fw_to_pstn_div', 1)" <?php print($values['O_L5_DISABLE_OUT']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line5_fw_to_pstn" value="off" id="line5_fw_to_pstn_disable" disabledbyelement="" onclick="toggle('line5_fw_to_pstn_div', 0)" <?php print($values['O_L5_DISABLE_OUT']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line5_fw_to_pstn_div" class="<?php print($values['O_L5_DISABLE_OUT']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN转移号码(VoIP来电,立即转移到PSTN)</td>
                         <td width="160" class="text">
                          <input type="text" name="line5_fw_num_to_pstn" id="line5_fw_num_to_pstn" value="<?php print($values['L5_FW_NUM_TO_PSTN']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line5_fw_to_pstn_passwd" id="line5_fw_to_pstn_passwd" value="<?php print($values['L5_FW_TO_PSTN_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line5_p_dial_plan" id="line5_p_dial_plan" value="<?php print($values['L5_P_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

                      </table>
                    </div>
                     </td>
                    </tr>

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫VoIP</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line5_fw_to_voip" value="on" id="line5_fw_to_voip_enable" onclick="toggle('line5_fw_to_voip_div', 1)" <?php print($values['O_L5_DISABLE_IN']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line5_fw_to_voip" value="off" id="line5_fw_to_voip_disable" disabledbyelement="" onclick="toggle('line5_fw_to_voip_div', 0)" <?php print($values['O_L5_DISABLE_IN']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line5_fw_to_voip_div" class="<?php print($values['O_L5_DISABLE_IN']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP转移号码(PSTN来电,立即转移到VoIP)</td>
                         <td width="160" class="text">
                          <input type="text" name="line5_fw_num_to_voip" id="line5_fw_num_to_voip" value="<?php print($values['L5_FW_NUM_TO_VOIP']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line5_fw_to_voip_passwd" id="line5_fw_to_voip_passwd" value="<?php print($values['L5_FW_TO_VOIP_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line5_v_dial_plan" id="line5_v_dial_plan" value="<?php print($values['L5_V_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

<?php if($values['TELPORT'] < 4): ?>
                        <tr>
                         <td width="180" height="25" class="title1">VoIP自动应答时间(秒)</td>
                         <td width="160" class="text">
                          <input type="text" name="line5_voip_answer_time" id="line5_voip_answer_time" value="<?php print($values['O_L5_VOIP_ANSWER_T']) ?>" class="edit" onblur="onblur_check_integer(this, 0, 60)" onfocus="onfocus_check_integer(this, 0, 60)">
                         </td>
                        </tr>

<?php endif; ?>
                      </table>
                    </div>
                     </td>
                    </tr>

                  </table>
                 </div>
                  </div>
                  <div id="line_fw_conf_tab_5_div" class="invisible">

                 <div id="line6_fw_conf" class="visable">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫PSTN</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line6_fw_to_pstn" value="on" id="line6_fw_to_pstn_enable" onclick="toggle('line6_fw_to_pstn_div', 1)" <?php print($values['O_L6_DISABLE_OUT']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line6_fw_to_pstn" value="off" id="line6_fw_to_pstn_disable" disabledbyelement="" onclick="toggle('line6_fw_to_pstn_div', 0)" <?php print($values['O_L6_DISABLE_OUT']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line6_fw_to_pstn_div" class="<?php print($values['O_L6_DISABLE_OUT']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN转移号码(VoIP来电,立即转移到PSTN)</td>
                         <td width="160" class="text">
                          <input type="text" name="line6_fw_num_to_pstn" id="line6_fw_num_to_pstn" value="<?php print($values['L6_FW_NUM_TO_PSTN']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line6_fw_to_pstn_passwd" id="line6_fw_to_pstn_passwd" value="<?php print($values['L6_FW_TO_PSTN_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line6_p_dial_plan" id="line6_p_dial_plan" value="<?php print($values['L6_P_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

                      </table>
                    </div>
                     </td>
                    </tr>

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫VoIP</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line6_fw_to_voip" value="on" id="line6_fw_to_voip_enable" onclick="toggle('line6_fw_to_voip_div', 1)" <?php print($values['O_L6_DISABLE_IN']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line6_fw_to_voip" value="off" id="line6_fw_to_voip_disable" disabledbyelement="" onclick="toggle('line6_fw_to_voip_div', 0)" <?php print($values['O_L6_DISABLE_IN']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line6_fw_to_voip_div" class="<?php print($values['O_L6_DISABLE_IN']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP转移号码(PSTN来电,立即转移到VoIP)</td>
                         <td width="160" class="text">
                          <input type="text" name="line6_fw_num_to_voip" id="line6_fw_num_to_voip" value="<?php print($values['L6_FW_NUM_TO_VOIP']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line6_fw_to_voip_passwd" id="line6_fw_to_voip_passwd" value="<?php print($values['L6_FW_TO_VOIP_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line6_v_dial_plan" id="line6_v_dial_plan" value="<?php print($values['L6_V_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

<?php if($values['TELPORT'] < 4): ?>
                        <tr>
                         <td width="180" height="25" class="title1">VoIP自动应答时间(秒)</td>
                         <td width="160" class="text">
                          <input type="text" name="line6_voip_answer_time" id="line6_voip_answer_time" value="<?php print($values['O_L6_VOIP_ANSWER_T']) ?>" class="edit" onblur="onblur_check_integer(this, 0, 60)" onfocus="onfocus_check_integer(this, 0, 60)">
                         </td>
                        </tr>

<?php endif; ?>
                      </table>
                    </div>
                     </td>
                    </tr>

                  </table>
                 </div>
                  </div>
                  <div id="line_fw_conf_tab_6_div" class="invisible">

                 <div id="line7_fw_conf" class="visable">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫PSTN</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line7_fw_to_pstn" value="on" id="line7_fw_to_pstn_enable" onclick="toggle('line7_fw_to_pstn_div', 1)" <?php print($values['O_L7_DISABLE_OUT']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line7_fw_to_pstn" value="off" id="line7_fw_to_pstn_disable" disabledbyelement="" onclick="toggle('line7_fw_to_pstn_div', 0)" <?php print($values['O_L7_DISABLE_OUT']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line7_fw_to_pstn_div" class="<?php print($values['O_L7_DISABLE_OUT']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN转移号码(VoIP来电,立即转移到PSTN)</td>
                         <td width="160" class="text">
                          <input type="text" name="line7_fw_num_to_pstn" id="line7_fw_num_to_pstn" value="<?php print($values['L7_FW_NUM_TO_PSTN']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line7_fw_to_pstn_passwd" id="line7_fw_to_pstn_passwd" value="<?php print($values['L7_FW_TO_PSTN_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line7_p_dial_plan" id="line7_p_dial_plan" value="<?php print($values['L7_P_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

                      </table>
                    </div>
                     </td>
                    </tr>

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫VoIP</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line7_fw_to_voip" value="on" id="line7_fw_to_voip_enable" onclick="toggle('line7_fw_to_voip_div', 1)" <?php print($values['O_L7_DISABLE_IN']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line7_fw_to_voip" value="off" id="line7_fw_to_voip_disable" disabledbyelement="" onclick="toggle('line7_fw_to_voip_div', 0)" <?php print($values['O_L7_DISABLE_IN']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line7_fw_to_voip_div" class="<?php print($values['O_L7_DISABLE_IN']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP转移号码(PSTN来电,立即转移到VoIP)</td>
                         <td width="160" class="text">
                          <input type="text" name="line7_fw_num_to_voip" id="line7_fw_num_to_voip" value="<?php print($values['L7_FW_NUM_TO_VOIP']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line7_fw_to_voip_passwd" id="line7_fw_to_voip_passwd" value="<?php print($values['L7_FW_TO_VOIP_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line7_v_dial_plan" id="line7_v_dial_plan" value="<?php print($values['L7_V_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

<?php if($values['TELPORT'] < 4): ?>
                        <tr>
                         <td width="180" height="25" class="title1">VoIP自动应答时间(秒)</td>
                         <td width="160" class="text">
                          <input type="text" name="line7_voip_answer_time" id="line7_voip_answer_time" value="<?php print($values['O_L7_VOIP_ANSWER_T']) ?>" class="edit" onblur="onblur_check_integer(this, 0, 60)" onfocus="onfocus_check_integer(this, 0, 60)">
                         </td>
                        </tr>

<?php endif; ?>
                      </table>
                    </div>
                     </td>
                    </tr>

                  </table>
                 </div>
                  </div>
                  <div id="line_fw_conf_tab_7_div" class="invisible">

                 <div id="line8_fw_conf" class="visable">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫PSTN</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line8_fw_to_pstn" value="on" id="line8_fw_to_pstn_enable" onclick="toggle('line8_fw_to_pstn_div', 1)" <?php print($values['O_L8_DISABLE_OUT']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line8_fw_to_pstn" value="off" id="line8_fw_to_pstn_disable" disabledbyelement="" onclick="toggle('line8_fw_to_pstn_div', 0)" <?php print($values['O_L8_DISABLE_OUT']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line8_fw_to_pstn_div" class="<?php print($values['O_L8_DISABLE_OUT']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN转移号码(VoIP来电,立即转移到PSTN)</td>
                         <td width="160" class="text">
                          <input type="text" name="line8_fw_num_to_pstn" id="line8_fw_num_to_pstn" value="<?php print($values['L8_FW_NUM_TO_PSTN']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line8_fw_to_pstn_passwd" id="line8_fw_to_pstn_passwd" value="<?php print($values['L8_FW_TO_PSTN_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫PSTN拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line8_p_dial_plan" id="line8_p_dial_plan" value="<?php print($values['L8_P_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

                      </table>
                    </div>
                     </td>
                    </tr>

                    <tr>
                     <td width="180" height="25" class="title1">
<span>呼叫VoIP</span>                     </td>
                     <td width="160" class="text">
                      <input type="radio" name="line8_fw_to_voip" value="on" id="line8_fw_to_voip_enable" onclick="toggle('line8_fw_to_voip_div', 1)" <?php print($values['O_L8_DISABLE_IN']!='1'?'checked':'') ?>><span>启用</span>
                      <input type="radio" name="line8_fw_to_voip" value="off" id="line8_fw_to_voip_disable" disabledbyelement="" onclick="toggle('line8_fw_to_voip_div', 0)" <?php print($values['O_L8_DISABLE_IN']=='1'?'checked':'') ?>><span>禁用</span>                     </td>
                    </tr>

                    <tr>
                     <td colspan="2">

                    <div id="line8_fw_to_voip_div" class="<?php print($values['O_L8_DISABLE_IN']=='1'?'visable':'invisible') ?>">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP转移号码(PSTN来电,立即转移到VoIP)</td>
                         <td width="160" class="text">
                          <input type="text" name="line8_fw_num_to_voip" id="line8_fw_num_to_voip" value="<?php print($values['L8_FW_NUM_TO_VOIP']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP认证密码</td>
                         <td width="160" class="text">
                          <input type="text" name="line8_fw_to_voip_passwd" id="line8_fw_to_voip_passwd" value="<?php print($values['L8_FW_TO_VOIP_PASSWD']) ?>" class="edit">
                         </td>
                        </tr>

                        <tr>
                         <td width="180" height="25" class="title1">呼叫VoIP拨号规则</td>
                         <td width="160" class="text">
                          <input type="text" name="line8_v_dial_plan" id="line8_v_dial_plan" value="<?php print($values['L8_V_DIGIT_MAP']) ?>" class="edit">
                         </td>
                        </tr>

<?php if($values['TELPORT'] < 4): ?>
                        <tr>
                         <td width="180" height="25" class="title1">VoIP自动应答时间(秒)</td>
                         <td width="160" class="text">
                          <input type="text" name="line8_voip_answer_time" id="line8_voip_answer_time" value="<?php print($values['O_L8_VOIP_ANSWER_T']) ?>" class="edit" onblur="onblur_check_integer(this, 0, 60)" onfocus="onfocus_check_integer(this, 0, 60)">
                         </td>
                        </tr>

<?php endif; ?>
                      </table>
                    </div>
                     </td>
                    </tr>

                  </table>
                 </div>
                  </div>

                 </td>
                </tr>

              </table>
             </div>

             </td>
            </tr>
            </tr>

          </table>
         </div>
         </td>
        </tr>

      </table>