      <table border="0" cellpadding="0" cellspacing="0" width="100%">

        <tr>
         <td colspan="2" class="title1" height="25" >SIM Card Settings</td>
        </tr>

        <tr>
         <td colspan="2">

         <div id="line8_sim_settings" class="visable">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">

            <tr>
             <td width="120" height="25" class="title1">SIM Card Expiry</td>
             <td width="160" class="text">
              <input type="text" name="line8_sim_exp" id="line8_sim_exp" value="<?php print($values['L8_SIM_EXP']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">SIM Card Billing Time(s)</td>
             <td width="160" class="text">
              <input type="text" name="line8_sim_exp_unit" id="line8_sim_exp_unit" value="<?php print($values['L8_SIM_EXP_UNIT']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">SIM Card ID</td>
             <td width="160" class="text">
              <input type="text" name="line8_sim_id" id="line8_sim_id" value="<?php print($values['L8_SIM_ID']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">SIM Card State Report Number</td>
             <td width="160" class="text">
              <input type="text" name="line8_sim_strp_num" id="line8_sim_strp_num" value="<?php print($values['L8_SIM_STRP_NUM']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">SIM Card State Report Time</td>
             <td width="160" class="text">
              <input type="text" name="line8_sim_strp_time" id="line8_sim_strp_time" value="<?php print($values['L8_SIM_STRP_TIME']) ?>" class="edit">
             </td>
            </tr>

            <tr>
             <td width="120" height="25" class="title1">SIM Per-Call Limit</td>
             <td width="160" class="text">
              <input type="text" name="line8_sim_call_limit" id="line8_sim_call_limit" value="<?php print($values['L8_SIM_CALL_LIMIT']) ?>" class="edit">
             </td>
            </tr>

          </table>
         </div>
         </td>
        </tr>

      </table>

