<!--<?php
print <<<EOT
-->
<HTML>
<HEAD>
<TITLE>{$SiteTitle}</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<LINK HREF="css/style.css" TYPE="text/css" REL="stylesheet">
<style type="text/css">
<!--
.style1 {color: #9B9B9B}
.style2 {color: #333333}
-->
</style>
</HEAD>
	 <script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
function newin (url,w,h)
{
window.open(url,"","toolbar=no,width="+w+",height="+h+",directories=no,status=no,scrollbars=yes,resizable=no,menubar=no")
}
function openwin (url)
{
window.open(url)
}
//-->
</script>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function MM_showHideLayers() { //v6.0
  var i,p,v,obj,args=MM_showHideLayers.arguments;
  for (i=0; i<(args.length-2); i+=3) if ((obj=MM_findObj(args[i]))!=null) { v=args[i+2];
    if (obj.style) { obj=obj.style; v=(v=='show')?'visible':(v=='hide')?'hidden':v; }
    obj.visibility=v; }
}
//-->
</script>
<BODY BGCOLOR=#FFFFFF background="images/bg.gif" LEFTMARGIN=0 TOPMARGIN=0 rightmargin="0" bottommargin="0" MARGINWIDTH=0 MARGINHEIGHT=0 style="background-position:top center " onLoad="MM_preloadImages('images/mean2.jpg','images/mean3.jpg','images/mean4.jpg','images/mean1over.jpg','images/mean2over.jpg','images/mean3over.jpg','images/mean4over.jpg','images/mean5over.jpg','images/mean6over.jpg','images/mean7over.jpg','images/mean8over.jpg')" >
<center>
<TABLE WIDTH=708 BORDER=0 CELLPADDING=0 CELLSPACING=0>
	<TR>
		<TD WIDTH=708 HEIGHT=26 ></TD>
	</TR>
		<TR>
	  <TD height="64" background="images/top.jpg"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="20" align="right" valign="top"><span class="yongb"><strong> </strong></span>
              <table width="319"  border="0" cellspacing="0" cellpadding="0">
                <form action="search.php" method="post">
                <tr valign="middle">
                  <td width="253" height="18" align="center"><span class="yongb"><strong> </strong></span></td>
                  <td width="66" align="right"><span class="l18"> <a href="http://www.fttx.com.cn">[涓枃鐗圿</a>&nbsp;&nbsp;</span></td>
                </tr>
                <tr valign="middle">
                  <td height="20" align="right" class="yongb"><strong> <IMG height=12 
            src="images/image_01.gif" width=12 
            align=absMiddle>&nbsp;</strong>Search<strong>
                    <input name="keyword" type="text" class=class=textfield size="16">
                     <input type="image" border="0" name="imageField" src="images/GO.gif"  height=19 alt=GO 
             width=25 align=absmiddle></strong></td>
                  <td>&nbsp;<a href="Advanced.php">[Advanced]</a></td>
                </tr>
				</form>
            </table></td>
        </tr>
      </table></TD>
	</TR>
		<TR>
	  <TD>			<img src="images/bannern.jpg" width="708" height="151"></TD>
	</TR>

		<TR>
	  <TD>
	  		 <table width="708"  border="0" cellpadding="0" cellspacing="0" align="center">
               <tr>
                 <td><a href="index.php" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image11','','images/mean1over.jpg',1)"><img src="images/mean1.jpg" name="Image11" width="73" height="30" border="0"></a></td>
                 <td><div id="Layer1" style="position:absolute; z-index:4; visibility: hidden;" onMouseOver="MM_showHideLayers('Layer1','','show')" onMouseOut="MM_showHideLayers('Layer1','','hide')"> <br style="line-height:29px;">
                         <table width="99"  border="0" cellpadding="2" cellspacing="1" bgcolor="8FAE6A">
                           <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;&nbsp;&nbsp;<a href="productlist.php?ClassId=16" >HFC</a></td>
                           </tr>
                           <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;&nbsp;&nbsp;<a href="productlist.php?ClassId=17" >IP</a></td>
                           </tr>
                         </table>
                   </div>
                     <a href="#"><img src="images/mean2.jpg" width="98" height="30" border="0"  name="Image3"  id="Image3" onMouseOver="MM_swapImage('Image3','','images/mean2over.jpg',1);MM_showHideLayers('Layer1','','show')" onMouseOut="MM_swapImgRestore();MM_showHideLayers('Layer1','','hide')"></a></td>
                 <td><div id="Layer2" style="position:absolute; z-index:4; visibility: hidden;" onMouseOver="MM_showHideLayers('Layer2','','show')" onMouseOut="MM_showHideLayers('Layer2','','hide')"> <br style="line-height:29px;">
                         <table width="154"  border="0" cellpadding="2" cellspacing="1" bgcolor="8FAE6A">
                          <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;<a href="solutuons.php?Id=9" >Network system integrated</a></td>
                           </tr>
                           <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;<a href="solutuons.php?Id=10" >BPON solution</a></td>
                           </tr>
                           <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;<a href="solutuons.php?Id=11" >IP whole network solution</a></td>
                           </tr>
						   <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;<a href="solutuons.php?Id=13" >CMTS, Broadband access <br>&nbsp;&nbsp;solution based on HFC <br>&nbsp;&nbsp;network</a></td>
                           </tr>
						    <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;<a href="solutuons.php?Id=14" >1550nm long distance <br>&nbsp;&nbsp;transmission</a></td>
                           </tr>
						     <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;<a href="solutuons.php?Id=15" >HFC network management <br>&nbsp;&nbsp;system</a></td>
                           </tr>
						    <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;<a href="solutuons.php?Id=16" >Fiber deepening solution</a></td>
                           </tr>
						   <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;<a href="solutuons.php?Id=17" >Video and data in one fiber <br>&nbsp;&nbsp;solution</a></td>
                           </tr>
                         </table>
                   </div>
                     <a href="#"><img src="images/mean3.jpg" width="103" height="30" border="0"  name="Image4" id="Image4" onMouseOver="MM_swapImage('Image4','','images/mean3over.jpg',1);MM_showHideLayers('Layer2','','show')" onMouseOut="MM_swapImgRestore();MM_showHideLayers('Layer2','','hide')"></a></td>
                 <td><div id="Layer4" style="position:absolute; z-index:4; visibility: hidden;" onMouseOver="MM_showHideLayers('Layer4','','show')" onMouseOut="MM_showHideLayers('Layer4','','hide')"> <br style="line-height:29px;">
                         <table width="95"  border="0" cellpadding="2" cellspacing="1" bgcolor="8FAE6A">
                           <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="services.php">Policy</A></td>
                           </tr>
                           <tr>
                             <td bgcolor="E8F8D1" onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#B5D784'">&nbsp;&nbsp;&nbsp;&nbsp;<A 
                  href="down.php?ClassId=16">Downloads</A></td>
                           </tr>
                         </table>
                   </div>
                     <a href="#"><img name="Image7" src="images/mean4.jpg" width="94" height="30" border="0" id="Image7" onMouseOver="MM_swapImage('Image7','','images/mean4over.jpg',1);MM_showHideLayers('Layer4','','show')" onMouseOut="MM_swapImgRestore();MM_showHideLayers('Layer4','','hide')"></a></td>
                 <td><a href="NewsList.php" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image18','','images/mean5over.jpg',1)"><img src="images/mean5.jpg" name="Image18" width="67" height="30" border="0"></a></td>
                 <td><a href="about.php" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image19','','images/mean6over.jpg',1)"><img src="images/mean6.jpg" name="Image19" width="94" height="30" border="0"></a></td>
                 <td><a href="contact.php" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image110','','images/mean7over.jpg',1)"><img src="images/mean8.jpg" name="Image110" width="108" height="30" border="0"></a></td>
                 <td><a href="map.php" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image111','','images/mean8over.jpg',1)"><img src="images/mean7.jpg" name="Image111" width="71" height="30" border="0"></a></td>
               </tr>
             </table></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/1.gif" WIDTH=708 HEIGHT=15 ></TD>
	</TR>
	<TR>
		<TD>			<TABLE WIDTH=708 BORDER=0 CELLPADDING=0 CELLSPACING=0>
          <TR>
            <TD background="images/bak1.gif" WIDTH=10 HEIGHT=345 > <IMG SRC="images/7.gif" WIDTH=9 HEIGHT=1 ></TD>
            <TD width="244" height="345" valign="top" bgcolor="#FFFFFF"> <table width=240 bgcolor="#FFFFFF"  height="308"border=0 cellpadding=0 cellspacing=0>
              <tr>
                <td 
                        height=20 valign=center class=back2>&nbsp;&nbsp;Products</td>
              </tr>
              <tr>
                <td background="images/bak3.gif"  width=240 height=174 ><table background="images/10.gif" width=240 height=174  style="background-position:bottom; background-repeat:no-repeat "  border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="right" valign="top">
					  <table width="96%"  border="0" cellspacing="0" cellpadding="2">
					  <tr>
                            <td></td>
                          </tr>
					  {$ClassList}
					</table>
                        </td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td width=240 height=6 ></td>
              </tr>
              <tr>
                <td 
                        height=20 valign=center class=back2>&nbsp;&nbsp;Solutions</td>
              </tr>
              <tr>
                <td width=240 height=59 valign="top"  background="images/bak4.gif"><table background="images/12.gif" width=240 height=47  style="background-position:bottom; background-repeat:no-repeat "  border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="10" align="right" valign="top"><TABLE width="96%" height="25" border=0 
                        align=center cellPadding=3 cellSpacing=0>
                        <TBODY>
						<!--
EOT;
foreach($rssolutuon as $rs) {
print <<<EOT
-->
                          <TR>
                            <TD height="10" vAlign=center>- <A 
                  href="solutuons.php?Id={$rs['Id']}">{$rs['Title']}</A></TD>
                          </TR>
						  <!--
EOT;
}
print <<<EOT
-->
                        </TBODY>
                      </TABLE></td>
                    </tr>
                </table></td>
              </tr>
            </table></TD>
            <TD width="450" height="345" valign="top" bgcolor="#FFFFFF"> <TABLE WIDTH=450 bgcolor="#FFFFFF" height="316" BORDER=0 CELLPADDING=0 CELLSPACING=0>
              <TR>
                <TD WIDTH=450 HEIGHT=100 valign="top" ><table width="100%" height="212" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="66%" height="212" align="center" valign="top"><table width="290" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="57"><img src="images/news.jpg" width="243" height="53"></td>
                        </tr>
                      <tr>
                        <td height="37" valign="top">
						<TABLE cellSpacing=4 cellPadding=1 width="289" align=center border=0>
                          <TBODY>
						  						<!--
EOT;
foreach($rsnew as $rs) {
print <<<EOT
-->

                            <TR>
                              <TD vAlign=top width=12 height=16><FONT class=point>路</FONT></TD>
                              <TD align="left"><div align="left"><A 
                  href="NewsDetail.php?Id={$rs['Id']}">{$rs['Title']}</A></div>
				  </TD>
                            </TR>
							 <!--
EOT;
}
print <<<EOT
-->
                          
                            <TR align=right>
                              <TD colSpan=2><A 
            href="NewsList.php" class="l18yellow">More...</A></TD>
                            </TR>
                          </TBODY>
                        </TABLE></td>
                        </tr>
                    </table></td>
                    <td width="34%" align="right" valign="top"><table width="150"  border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center" valign="top"><table width="90%" height="6"  border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td></td>
                              </tr>
                            </table>
                              <TABLE cellSpacing=0 cellPadding=0 width="142" border=0>
                                <TBODY>
                                  <TR>
                                    <TD align="left" vAlign=top class=back2><TABLE cellSpacing=1 cellPadding=0 width="142" align=center 
                  border=0>
                                        <TBODY>
                                          <TR>
                                            <TD 
                        height=20 vAlign=center class=back2>&nbsp;&nbsp;Hot Products</TD>
                                          </TR>
                                          <TR>
                                            <TD vAlign=bottom background="images/b13.gif" class=back_white><TABLE cellSpacing=0 cellPadding=3 width="96%" 
                        align=center border=0>
                                                <TBODY>
																		<!--
EOT;
foreach($rshotproduct as $rs) {
print <<<EOT
-->
                                                  <TR>
                                                    <TD height="23" vAlign=center>- <A 
                  href="ProductDetail.php?Id={$rs[1]}">{$rs[0]}</A></TD>
                                                  </TR>
<!--
EOT;
}
print <<<EOT
-->
                                                </TBODY>
                                            </TABLE></TD>
                                          </TR>
                                        </TBODY>
                                    </TABLE></TD>
                                  </TR>
                                </TBODY>
                              </TABLE>
                              </td>
                        </tr>
                    </table>
                      <table width="150" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><table width="90%" height="5"  border="0" cellpadding="0" cellspacing="0">
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                          </table>
                            <img src="images/tel2.jpg" width="142" height="64"></td>
                        </tr>
                      </table></td>
                  </tr>
                </table></TD>
              </TR>
              <TR>
                <TD height="129" valign="top"> <table width="142" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="1"></td>
                  </tr>
                </table>
                  <TABLE WIDTH=450 height="100" BORDER=0 CELLPADDING=0 CELLSPACING=0>
                  <TR>
                    <TD width="300" height="128" align="center" valign="top"> <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="4"></td>
                      </tr>
                    </table>
                      <table width=290 bgcolor="#FFFFFF"  height="50"border=0 cellpadding=0 cellspacing=0>
                      <tr>
                        <td 
                        height=20 valign=center class=back2>&nbsp;&nbsp;New Products</td>
                      </tr>
                      <tr>
                        <td height=100 valign="top"  background="images/bb12.gif"><table background="images/b12.gif" width=100% height=100%  style="background-position:bottom; background-repeat:no-repeat "  border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td height="74" align="center" valign="top"><table width="97%"  border="0" cellspacing="6" cellpadding="0">
                                <tr>
                                  <td width="22%" align="left" valign="middle" class="l17"><table width="1"  border="0" cellpadding="0" cellspacing="1" bgcolor="E1E1E1">
                                      <tr>
                                        <td bgcolor="#FFFFFF"><img src="{$UrlLink}" width="79" height="84"></td>
                                      </tr>
                                  </table></td>
                                  <td width="78%" align="left" valign="top"><strong><img src="images/xiaohei.gif" width="4" height="6" align="absmiddle"> <a href="ProductDetail.php?Id={$Id}">{$Title}  </a></strong><a href="ProductDetail.php?Id={$Id}"><br>
                                      <FONT color=#000000>路</FONT><span class="style2">{$Features}</span></a></td>
                                </tr>
                              </table>
                                </td>
                            </tr>
                        </table></td>
                      </tr>
                    </table></TD>
                    <TD  WIDTH=150 HEIGHT=128 align="center" valign="top" bgcolor="#FFFFFF" >
					  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="4"></td>
                        </tr>
                      </table>
					  <img src="images/tel3.jpg" width="142" height="66"> <br>
                      <table width="90%" height="1"  border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td></td>
                        </tr>
                      </table>
                      <a href="http://www.neophotonics.com/" target="_blank"><img src="images/neologo.jpg" width="142" height="32" border="0"></a>
                      <table width="85%" height="2"  border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                      </table>
                          <table width="142" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td><SELECT class=input2 
                        
                        onchange=parent.location=options[selectedIndex].value; 
                        name=select>
                                <option selected>Corporation Links</option>
                                <option value="http://www.photontec.com">PHOTON</option>
                              </SELECT></td>
                            </tr>
                        </table></TD>
                  </TR>
                </TABLE></TD>
              </TR>
            </TABLE></TD>
            <TD background="images/bak2.gif" WIDTH=4 HEIGHT=345> <IMG SRC="images/8.gif" WIDTH=4 HEIGHT=1 ></TD>
          </TR>
        </TABLE></TD>
	</TR>
	<TR>
	  <TD WIDTH=708 HEIGHT=45 align="center" valign="middle" background="images/2.gif" ><span class="style1">
		</span>
		  <table width="90%" height="8"  border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td></td>
            </tr>
          </table>
	    {$Foot}</TD>
	</TR>
</TABLE>

<TR>
		<TD WIDTH=708 HEIGHT=26 ></TD>
  </TR>
</center>
</BODY>
</html>
<!--
EOT;
?>
-->